doctype html
include utils.pug
html
  head
  block head
    title= title
    link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav(class="nav")
      div(class="nav__brand")
        a(href="/")
          img(src="/images/nav_brand.png")
      if locals.authenticated
        div(class="nav__user")
          div(class="nav__user-info")
            span Welcome, #{user.username}!
            br
            a(href='/logout')
              span Logout
          if (user.avatarImage)
            div(class="nav__user-avatar")
              img(src=user.avatarImage)
          else
            div(class="nav__user-avatar")
              img(src="https://brighterwriting.com/wp-content/uploads/icon-user-default-420x420.png")
      else
        div(class="nav__cpanel")
          a(href="/signup")
            span Sign Up
          a(href="/login")
            span Login
            //- div(id="open-modal" class="modal-window")
            //-   div
            //-     a(href="#" title="Close" class="modal-close") Close
            //-     h1 Login
            //-     div
            //-       +errorSummaryList(errors)
            //-       form(method="post" action="/get" class="nav__login")
            //-         input(type="hidden" name="_csrf" value=csrfToken)
            //-         label(for="username") Username:
            //-         input(type="text" name="username" id="username")
            //-         label(for="password") Password:
            //-         input(type="password" name="password" id="password")
            //-         button Submit
            //-         button Demo User

