doctype html
include utils.pug
html
  head
  block head
    title= title
    link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav(class="nav")
      div(class="nav__brand")
        a(href="/")
          img(src="/images/nav_brand.png")
      if locals.authenticated
        div(class="nav__user")
          div(class="nav__user-info")
            span Welcome, #{user.username}!
            br
            a(href='/logout')
              span Logout
          if (user.avatarImage)
            div(class="nav__user-avatar")
              img(src=user.avatarImage)
      else
        div(class="nav__cpanel")
          a(href="/signup")
            span Sign Up
          a(href="/login")
            span Login
            //- div(id="open-modal" class="modal-window")
            //-   div
            //-     a(href="#" title="Close" class="modal-close") Close
            //-     h1 Login
            //-     div
            //-       +errorSummaryList(errors)
            //-       form(method="post" action="/get" class="nav__login")
            //-         input(type="hidden" name="_csrf" value=csrfToken)
            //-         label(for="username") Username:
            //-         input(type="text" name="username" id="username")
            //-         label(for="password") Password:
            //-         input(type="password" name="password" id="password")
            //-         button Submit
            //-         button Demo User
  if locals.authenticated && path !== '/new-question'
    button: a(href='/new-question' ) Post Question
  if path !=='/signup' && path !=='/login' && path !== '/new-question'
    #left__sidebar
        a(href='/') Home
        a(href='/questions') Questions
        a(href='/users') Users
        if locals.authenticated && path !== '/new-question'
          a(href='/new-question' class="button") Post Question

  block content
footer(class="footer")

  div
    img(src="/images/profile.jpg" class="profileImg" alt="Profile Image")
    br
    span(class="footer__name") Beau Ferguson
  div(class="social__media")
    ul
      a(href="https://www.linkedin.com/in/beau-ferguson-387a40112/" target="_blank")
        li LinkedIn
      a(href="https://github.com/midknightsurfer" target="_blank")
        li Github
      a(href="https://www.facebook.com/Midknightsurfer" target="_blank")
        li Facebook
  div
    img(src="/images/jose.png" class="profileImg" alt="Profile Image")
    br
    span(class="footer__name") Jose Martinez
  div(class="social__media")
    ul
    
      a(href="https://www.linkedin.com/in/jose-martinez-b7a1b3b8/" target="_blank")
        li LinkedIn
      a(href="http://www.linkedin.com/" target="_blank")
        li Github
      a(href="http://www.linkedin.com/" target="_blank")
        li Facebook
  div
    img(src="/images/badri.png" class="profileImg" alt="Profile Image")
    br
    span(class="footer__name") Ahmed Badri
  div(class="social__media")
    ul
      a(href="http://www.linkedin.com/" target="_blank")
        li LinkedIn
      a(href="http://www.linkedin.com/" target="_blank")
        li Github
      a(href="http://www.linkedin.com/" target="_blank")
        li Facebook
