doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav(class="nav")
      if locals.authenticated
        div(class="nav__topQ") Top Questions
        div(class="nav__user")
          div(class="nav__user-info")
            span #{user.username}
            span Logout
          div(class="nav__user-avatar")
      else
        div(class="nav__brand")
          a(href="/")
            img(src="/images/nav_brand.png")
        div(class="nav__cpanel")
          a(href="/signup")
            span Sign Up
          a(href="#open-modal")
            span Login
            div(id="open-modal" class="modal-window")
              div
                a(href="#" title="Close" class="modal-close") Close
                h1 Login
                div
                  form(method="post" action="/login" class="nav__login")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    label(for="username") Username:
                    input(type="text" name="username" id="username")
                    label(for="password") Password:
                    input(type="password" name="password" id="password")
                    button Submit
                    button Demo User
    block content
  h2(class="align__bottom") Meet the Developers
  footer(class="footer")
    table
      tr
        td 
        img(src="/images/profile.jpg" class="profileImg" alt="Profile Image")
        td
        span(class="footer__name") Beau Ferguson
          ul
            a(href="http://www.linkedin.com/" target="_blank")
              li LinkedIn
            a(href="http://www.linkedin.com/" target="_blank")
              li Github
            a(href="http://www.linkedin.com/" target="_blank")
              li Facebook
        td
        img(src="/images/jose.png" class="profileImg" alt="Profile Image")
        td
        span(class="footer__name") Jose Martinez
          ul
            a(href="http://www.linkedin.com/" target="_blank")
              li LinkedIn
            a(href="http://www.linkedin.com/" target="_blank")
              li Github
            a(href="http://www.linkedin.com/" target="_blank")
              li Facebook
        td
        img(src="/images/badri.png" class="profileImg" alt="Profile Image")
        td
        span(class="footer__name") Ahmed Badri
          ul
            a(href="http://www.linkedin.com/" target="_blank")
              li LinkedIn
            a(href="http://www.linkedin.com/" target="_blank")
              li Github
            a(href="http://www.linkedin.com/" target="_blank")
              li Facebook
