doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav(class="nav")
      if locals.authenticated
        div(class="nav__topQ") Top Questions
        div(class="nav__user")
          div(class="nav__user-info")
            span #{user.username}
            span Logout
          div(class="nav__user-avatar")
      else
        div(class="nav__brand")
          img(src="")
        div(class="nav__cpanel")
          a(href="/signup")
            span Sign Up
          a( id="login")
            span Login
    block content
