doctype html
include utils.pug
html
  block head
    title statOverflow - #{title}
    link(rel='stylesheet' href='/stylesheets/index.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1") 
  body
    nav(class="nav")
      div(class="nav__brand")
        a(href="/")
          img(src="/images/nav_brand.png")
      div(class="searchbar")
        form(action="search")
          input(type="search" class="search-bar" name="search" style="font-family: 'Helvetica', FontAwesome, sans-serif;" placeholder=' Search...')
          button(type="submit" class='search-btn button') Go
      if locals.authenticated
        div(class="nav__user")
          div(class="nav__user-info")
            span Welcome,
            p= locals.currUser.username
          if (locals.currUser.avatarImage)
            div(class="nav__user-avatar")
              a(href=`/users/${locals.currUser.id}`)
                img(src=locals.currUser.avatarImage)
      else
        div(class="nav__cpanel")
          a(href="/signup")
            span Sign Up
          a(href="/login")
            span Login
<<<<<<< HEAD
      input(type="checkbox" name="" id="" class="check")
      ul(class="menu-items")
        li
          a(href="/") Home
        li
          if locals.authenticated && path !== '/new-question'
            a(href="/new-question") Ask a Question
        li
          a(href="/users") Users
        li
          a(href="/logout") Logout
      div.ham-menu
        span(class="line line1")
        span(class="line line2")
        span(class="line line3")
=======
    input(type="checkbox" name="" id="" class="check")
    if locals.authenticated
      ul(class="menu-items")
        li
          a(href="/") Home
        li 
          a(href="/new-question") Ask a Question
        li 
          a(href="/users") Users
        li
          a(href="/logout") Logout
    else
      ul(class="menu-items")
        li
          a(href="/") Home
        li 
          a(href="/signup") Sign Up
        li
          a(href="/login") Login
    div.ham-menu
      span(class="line line1")
      span(class="line line2")
      span(class="line line3")
>>>>>>> main
  block content
footer(class="footer")
  div
    img(src="/images/profile.jpg" class="profileImg" alt="Profile Image")
    br
    span(class="footer__name") Beau Ferguson
  div(class="social__media")
    ul
      li
        a(href="https://www.linkedin.com/in/beau-t-ferguson/" target="_blank")
          i.fa.fa-linkedin-square(aria-hidden='true')
            i &nbsp; LinkedIn
      li
        a(href="https://github.com/midknightsurfer" target="_blank")
          i.fa.fa-github(aria-hidden='true')
            i &nbsp; Github
  div(class="tech")
    p JavaScript | Express | CSS | PostgreSQL | Pug | Sequelize
  div
    img(src="/images/jose.png" class="profileImg" alt="Profile Image")
    br
    span(class="footer__name") Jose Martinez
  div(class="social__media")
    ul
      li
        a(href="https://www.linkedin.com/in/jose-martinez-b7a1b3b8/" target="_blank")
          i.fa.fa-linkedin-square(aria-hidden='true')
            i &nbsp; LinkedIn
      li
        a(href="https://github.com/jmartinezsal" target="_blank")
          i.fa.fa-github(aria-hidden='true')
            i &nbsp; Github
