extends layout
    block content
    form
      input
      div 
        label Header
        input(type="text")
      div 
        label Content 
        input(type="textarea")
      div 
        label Submit 
        submit(type="submit")
