extends layout

  form
    div 
      label Header 
      input(type="text" name="header")
    div 
      label Content
      input(type="textarea" name="content")
    div 
      button(type="submit") Submit
