extends layout.pug
block content
  form(class='' method='post' action='/questions')
    input(type="hidden" name="_csrf" value=csrfToken)
    div 
      label Header 
      input(type="text" name="header" id="header")
    div 
      label Content
      textarea(type="textarea" rows="20" cols="20" name="content" id="content")
    div 
      button(type="submit") Submit
      
