extends layout.pug
include utils.pug
block head
  title= title
  link(rel='stylesheet' href='/stylesheets/index.css')
  script(src="/javascripts/index.js" type="module" defer)

block content
  +errorSummaryList(errors)
  form(class="login hidden" action='/login' method="post")
    input(type="hidden" name="_csrf" value=csrfToken)
    +field("User Name or Email:", "login", login )
    +field("Password:", 'password', password, 'password' )
