extends layout.pug
include utils.pug

  title= title
  link(rel="stylesheet" href="/stylesheets/index.css")
block content
  script(src="/javascripts/index.js" type="module" defer)

  +errorSummaryList(errors)
  form(class='login' method='post' action='/login')
      h1= title
      input(type="hidden" name="_csrf" value=csrfToken)
      +field('Username:', 'username', username)
      +field('Password', 'password', password, 'password')
      Button Submit
      Button: a(id='demo__user') Demo User
      Button: a(href='/') Cancel
