extends layout.pug

block content
  div(class="welcome")
    img(src="/images/title.png" class="title__image")
    #home-page
      h2 WELCOME and BEGIN to seek others for advice and knowlegde regarding...
  