.user__container {
  margin: auto;
}

#all__users__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.user__container img{
  width: 70px;
  border: 1px solid;
  border-radius: 20px;
  margin-left: 10px;
}

.user__container p {
  font-weight: bold;
  padding-left: 10px;
}
.question__container{
  gap: 10px;

}
.question__container > *{
  color: black;
}


#questions__container{
  width: 60%;
  margin-left: 20%;

};

.question__container >a:hover {
  color: rgb(51, 50, 50);

  box-shadow: 0px 3px 10px 0px grey;
}

.qHeader {
  color: #364F59;
}

.qHeader:hover {

  color: #7ead68;
}