.user__container {
  margin: auto;
}


.user__container img{
  width: 70px;
  border: 1px solid;
  border-radius: 20px;
  margin-left: 10px;
}

.user__container p {
  font-weight: bold;
  padding-left: 10px;
}

.question__container {
  gap: 10px;
  color: rgb(172, 223, 167);
  background-color: #364F59;
  opacity: 0.9;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}


.questions__container {
  width: 60%;
  margin-left: 20%;
};

.question__container >a:hover {
  color: rgb(51, 50, 50);

  box-shadow: 0px 3px 10px 0px grey;
}

.qHeader {
font-size: 18pt;
margin-bottom: 2vh;

}

.qHeader:hover {
  color: #7ead68;
}


.user__container {
  padding: 10px;
}

.updatedAt {
  color: white;
  font-size: small;
}

.numAnswers {
  color: white;
  font-size: medium;
  text-decoration: underline;
}

.editForm  textarea,
.editForm input{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.questionForm {
  margin: -15vh 15vw;
}

#header {
  height: 3vh;
}


.questionForm input, .questionForm textarea {
  width: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: none;
  line-height: 1;
  width: 100%;
  padding: 16px;
  font-size: 14px;
  color: #666;
}
