footer {
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 100%;
    height: 160px;
    position: fixed;
    bottom: 0;
    background-color: #364F59;
}

footer>div {
    margin-top: -2vh;
    margin-left: -6vw;
}

footer p {
    color: #C2C7CB;
    margin-top: 5vh;
}

.footer__name {
    position: relative;
    margin-top: .5vh;
    margin-right: 2vw;
    font-weight: bold;
    color: #C2C7CB;
}

.profileImg {
    width: 80px;
    border-radius: 20px;
    border: 1px solid;
    margin-top: 3vh;
}

.social__media {
    margin-top: 3vh;
    margin-left: -260px;
}

.social__media li {
    margin-bottom: 2px;
}

@media only screen and (max-width: 1000px) {
    .social__media {
        margin-left: -200px;
    }
}

@media only screen and (max-width: 750px) {
    .social__media {
        margin-left: -150px;
    }

    footer p {
        position: absolute;
        bottom: 0;
        margin-left: -150px;
    }
}

@media only screen and (max-width: 500px) {

    footer {
        height: 180px;
    }

    .social__media {
        margin-left: -100px;
    }
    
    footer p {
        position: absolute;
        bottom: 0;

    }

    .footer__name {
        padding-left: 10px;
    }

    .profileImg {
        width: 100px;
        border-radius: 20px;
        border: 1px solid;
        margin-top: 3vh;
    }
}