@import 'navbar.css';
@import 'signup.css';
@import 'footer.css';
@import 'questions.css';

body {
    font-family: 'Garamond Premier Pro';
    margin: 0;
    background: #C2C7CB;
    color: #011826;
    padding-bottom: 200px;
}

.button {
    display: inline-block;
    background-color: #364F59;
    text-align: center;
    width: 80px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

button {
    display: inline-block;
    background-color: #364F59;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    color: #C2C7CB;
    border-radius: 10px;
}

a {
    color: #C2C7CB;
    text-decoration: none;
}

a:hover {
    color: #7ead68;
    text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #364F59;
}

table img {
    width: 30px;
}

table {
    font-family: 'Brandon Grotesque';
    margin-top: 4vh;
}

table tr {
    height: 75px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

li {
    list-style: none;
}

.hidden{
    display: none;
}

.center {
    display: block;
    margin-left: 35%;

}
