@import 'navbar.css';
@import 'signup.css';
@import 'footer.css';
@import 'questions.css';
@import 'allQuestions.css';
@import 'profile.css';

body {
    font-family: 'Garamond Premier Pro';
    margin: 0;
    background: #C2C7CB;
    color: #C2C7CB;
}

.button {
    display: inline-block;
    background-color: #364F59;
    text-align: center;
    width: 90px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 14pt;
}

a {
    color: #C2C7CB;
    text-decoration: none;
    cursor: pointer;
}


a:hover {
    color: #7ead68;
    text-decoration: none;
}

button:hover {
    background-color: #7ead68;
    text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #6f8187;
}

table img {
    width: 30px;
}

table {
    font-family: 'Brandon Grotesque';
    margin-top: 4vh;
}

table tr {
    height: 75px;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

form textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 40vw;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;

}

.login input {
    width: 40%;
    box-shadow: 2px 2px 4px rgba(48, 47, 47, 0.425);
}

.login label {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #364F59;
    font-size: 16pt;
}

.login .button__container a {
    width: 10%;
    margin-top: 2vh;

}

.button__container {
    text-align: center;
    width: 100%;
}

.titleImg {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
}

.welcome {
    height: 80vh;
    background: url("/images/maxresdefault.jpg") no-repeat;
    background-size: cover;
    padding-bottom: 0px;

}

h2 {
    background-color: #364F59;
    width: 80%;
    text-align: center;
    font-size: 24pt;
    padding: 40px;
    margin: 60px auto;
    opacity: .9;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
}

input {
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: none;
    line-height: 1;
    width: 100%;
    height: 32px;
    padding: 0 16px;
    font-size: 14px;
    margin-top: 2px;
}

@media only screen and (max-width: 400px) {
    .titleImg {
        margin-top: -1px;
        width: 100%;
    }

    .login .button__container a {
        width: 100%;
        margin-top: 2px;

    }

    .button__container {
        display: flex;
        flex-direction: column;
    }

    .button__container {
        text-align: center;
        width: 75%;
        margin: 0 auto;
    }

    .login input {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .title__image {
        width: 100%;
    }

    h2 {
        font-size: 18pt;
    }
}
