@import 'navbar.css';
@import 'signup.css';
@import 'footer.css';
@import 'questions.css';
@import 'allQuestions.css';
@import 'profile.css';

body {
    font-family: 'Garamond Premier Pro';
    margin: 0;
    background: #C2C7CB;
    color: #011826;
}

.button {
    display: inline-block;
    background-color: #364F59;
    text-align: center;
    width: 90px;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 14pt;
}

a {
    color: #C2C7CB;
    text-decoration: none;
    cursor: pointer;
}


a:hover {
    color: #7ead68;
    text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #6f8187;
}

table img {
    width: 30px;
}

table {
    font-family: 'Brandon Grotesque';
    margin-top: 4vh;
}

table tr {
    height: 75px;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

form textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 40vw;
}

#left__sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 18%;
    z-index: 1;
    padding-left: 1vw;

}

#left__sidebar a {
    padding: 10px 0px;
    color: #777;
    font-size: 16pt;

    transition: all 1.5s;
}

#left__sidebar .button {
    padding: 5px 6px 8px 0;
    color: #6f8187;
}

#left__sidebar a:hover {
    color: black;
    border-right: #777;
}

#left__sidebar .button {
    width: fit-content;
    padding: 10px;
    background-color: #245c86;
    border-radius: 0px;
    color: rgb(215, 208, 208);
}


#left__sidebar .button:hover {
    background-color: #336891;
    color: #7ead68;
}

.login {
    text-align: center;
    margin-top: 5vh;
}

.login input {
    margin: 5px;
    width: 20vw;
    height: 2vh;
    box-shadow: 2px 2px 4px rgba(48, 47, 47, 0.425);
}

.titleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    margin-top: 15vh;
}


.welcome {
    height: 80vh;
    background: url("/images/maxresdefault.jpg") no-repeat;
    background-size: cover;
    opacity: 0.8;

}
