.nav {
    height: 8vh;
    position: sticky;
    font-size: 24pt;
    color: #C2C7CB;
    background-color: #364F59;
}

.title__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav__cpanel {
    float: right;
    margin-top: 30px;
}

.nav__cpanel span {
    padding: 20px;
    margin-top: -20px;
    text-decoration: none;
}

.nav__cpanel a {
    color: #C2C7CB;
    text-decoration: none;
}

.nav__brand img {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    width: 250px;
    margin: 10px;
}

.nav__login input {
    background-color: #7ead68;
    width: 100%;
    height: 30px;
}

.nav__user-avatar img {
    width: 70px;
    border: 1px solid;
    float: right;
    margin-top: -65px;
    margin-right: 20px;
    border-radius: 20px;
}

.nav__user-info {
    margin-right: 200px;
    margin-top: 15px;
    font-size: 16pt;
}

.nav__user {
    line-height: 30px;
    float: right;
}

.modal-window {
    position: fixed;
    top: 0;
    right: 0;
    left: 611px;
    bottom: 655px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2em 0.5em 2em;
    background-color: #364F59;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid;
}

.modal-window header {
    font-weight: bold;
}

.modal-window h1 {
    color: #C2C7CB;
    margin: 0 0 15px;
}

.modal-close {
    color: #C2C7CB;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal:hover {
    color: black;
}