.nav {
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    font-size: 24pt;
    color: #C2C7CB;
    background-color: #364F59;
}

.title__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.nav__cpanel {
    position: absolute;
    right: 100px;
    margin-top: 30px;
}

.nav__cpanel span {
    padding: 20px;
    margin-top: -20px;
    text-decoration: none;
}

.nav__cpanel a {
    color: #C2C7CB;
    text-decoration: none;
}

.nav__brand img {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    width: 250px;
    margin: 10px;
}

.nav__login input {
    background-color: #7ead68;
    width: 100%;
    height: 30px;
}

.nav__user-avatar img {
    width: 70px;
    border: 1px solid;
    float: right;
    margin-top: -60px;
    margin-right: 150px;
    border-radius: 20px;
}

.nav__user-info {
    margin-right: 250px;
    margin-top: 15px;
    font-size: 16pt;
}

.nav__user-info p {
    margin-top: -8px;
}

.nav__user {
    line-height: 30px;
    float: right;
}

.searchbar {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 80vw;
}

.search-bar {
    position: absolute;
    height: 40px;
    margin-top: 25px;
    width: 50%;
    border-radius: 10px;
    border: 1px solid;
    margin-left: -200px;
    padding: 10px;
    font-size: 16pt;
}

.search-btn {
    height: 35px;
    position: absolute;
    top: 22px;
    right: 200px;
    color: #C2C7CB;
    border: 1px solid;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-items {
    text-align: center;
    position: absolute;
    padding: 5rem;
    margin-left: -1rem;
    top: 100px;
    right: 50px;
    list-style: none;
    opacity: 0;
    font-size: 2rem;
    border: 4px solid #C2C7CB;
    background-color: #364F59;
    border-radius: 0.25em;
    transform: translatey(-10%);
    transition: transform 100ms ease-in-out, opacity 200ms;
    z-index: 1; 
}

.menu-items li{
    color: #C2C7CB;
    padding: 0.5rem;
}

.menu-items li a{
    color: #C2C7CB;
    text-decoration: none;
}

.menu-items li a:hover{
    color: rgb(174, 174, 174);
}

.check {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 3rem;
    width: 3rem;
    opacity: 0;
    z-index: 3;
}

.check:hover {
    cursor: pointer;
}

.check:checked~.menu-items {
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

.ham-menu {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #364F59;
    border-radius: 10px;
}

.ham-menu .line {
    background-color: white;
    border-radius: 1em;
    width: 2rem;
    height: 0.25rem;
}

.ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
}


.check:checked~.ham-menu .line1 {
    display: block;
    transform: rotate(45deg);
}

.check:checked~.ham-menu .line2 {
    opacity: 0;
}

.check:checked~.ham-menu .line3 {
    display: block;
    transform: rotate(-45deg);
}

@media only screen and (max-width: 600px) {
    .nav {
        height: 150px;
    }

    .searchbar {
        margin-top: 70px;
        margin-right: 70px;
        width: 100%;        
    }

    .ham-menu {
        top: 15px;
    }

    .nav__user-avatar img {
        margin-top: -125px;
        margin-right: 70px;
    }

    .nav__user-info {
        margin-right: 10px;
        margin-top: 80px;
    }

}