.profile__page {
  margin-left: 20%;
}

.title__image {
  margin: 0px auto;
  width: 50%
}


#all__users__container {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  margin-left: 25vw;
  margin-top: 10vh;
  margin-bottom: 20vh;
  font-weight: bold;
}

#all__users__container p{
  color:black;
}
