.question {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -125px;
    width: 60vw;
    text-align: center;
}

.image {
    width: 100px;
    border: 1px solid;
    border-radius: 20px;
}

.username {
    position: absolute;
    font-weight: bold;
    margin-top: 50px;
}

.text {
    font-size: 16pt;
    padding: 20px;
    color: #364F59;
}

.wrapper {
    margin-left: 20%;
}

#answer {
    float: right;
    width: 45vw;
    height: 80px;
    margin-top: -8vh;
    margin-right: 20vw;
}

.questionUser {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    width: 15vw;
    padding-top: 20px;
}

.questionUser img {
    margin-top: 75px;
    width: 100px;
    border: 1px solid;
    border-radius: 20px;
}

.answer-success {
    display: block;
    position: absolute;
    width: 50vw;
    font-size: 16pt;
    padding: 20px;
    margin-top: -10vh;
    color: #364F59;
    text-align: center;
    margin-left: 15vw;
}

.answer-success a {
    margin-top: 2vh;
}

.center {
    margin-left: 33vw;
}

.questionButtons {
    position: absolute;
    margin-top: 20vh;
}

#qHeader {
    margin-left: 5vw;
    width: 50vw;
}

#inputText {
    width: 50vw;
    margin-left: 18vw;
}

.labelText {
    margin-left: 10vw;
}

#buttons {
    text-align: center;
}

/* .profile__page .questions__container{
    margin-top: 20vh;
} */
