.question {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -125px;
    width: 60vw;
    text-align: center;
}

.image {
    width: 100px;
    border: 1px solid;
    border-radius: 20px;
}

.username {
    position: fixed;
    font-weight: bold;
    margin-top: 50px;
}

.text {
    font-size: 16pt;
    padding: 20px;
    color: #364F59;
}

.wrapper {
    display: grid;
}

#answer {
    width: 80%;
    margin-top: 10px;
    height: 80px;
    background-color:  #7ead68;
}

.questionUser {
    margin-left: 20px; 
    display: flex;
    justify-content: center;
    width: 15vw;
}

.questionUser img {
    margin-top: 75px;
    width: 100px;
    border: 1px solid;
    border-radius: 20px;
}

.answer-success {
    display: block;
    position: absolute;
    width: 50vw;
    font-size: 16pt;
    padding: 20px;
    margin-top: 60px;
    color: #364F59;
    text-align: center;
    left: 22%;
}
