.question {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -125px;
    width: 60vw;
    text-align: center;
}

.image {
    width: 100px;
    border: 1px solid;
    border-radius: 20px;
}

.username {
    font-weight: bold;
    margin-top: 50px;
}

.text {
    font-size: 16pt;
    padding: 20px;
    color: #364F59;
}

.wrapper {
    margin-left: 20%;
}

#answer {
    float: right;
    width: 45vw;
    height: 80px;
    margin-top: -8vh;
    margin-right: 20vw;
}


.answer-success {
    display: block;
    position: absolute;
    width: 50vw;
    font-size: 16pt;
    padding: 20px;
    margin-top: -10vh;
    color: #364F59;
    text-align: center;
    margin-left: 15vw;
}

.answer-success a {
    margin-top: 2vh;
}

.center {
    margin-left: 33vw;
}

.questionButtons {
    position: absolute;
    margin-top: 20vh;
}

#qHeader {
    margin-left: 5vw;
    width: 50vw;
}

#inputText {
    width: 50vw;
    margin-left: 18vw;
}

.labelText {
    margin-left: 10vw;
}

#buttons {
    text-align: center;
}

.profile__page {
    margin: 50px;
}

.profile__page__img {
    border-radius: 20px;
    border: 2px solid rgb(48, 83, 34);
}

.all-answers-container {
    margin: 40px 0px 0px 20px;

}

.all-answers-container .total-answers {
    font-size: 2.5rem;
}

.answer-container {
    display: flex;
    height: fit-content;
    width: 70%;
    margin: 40px 20px;
    gap: 40px;
}


.answer-user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-user p{
    font-size: 1.5rem;
    margin-bottom: auto;
}

.answer-user img {
    border-radius: 10px;
    width: 100px;
}

.answer-voting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.answer-voting i {
    color: black;
    font-size: 2.0rem;
    cursor: pointer;
}

.answer-voting p {
    font-size: 2.5rem;
}

.answer-voting .positive {
    color: green;
}

.answer-voting p .negative {
    color: red;
}

.answer-voting .fa-arrow-up:hover {
    color: green;
}

.answer-voting .fa-arrow-down:hover {
    color: red;
}
